c le format cnf est le suivant
c les lignes commencant par "c " sont les commentaires
c la ligne commendant par un "p " est la ligne de définition du problème: elle comporte le type de pb (cnf), le nombre de variables, et le nombre de clauses
c les lignes suivantes sont les définitions de chaque clause (une par ligne).
c les variables sont notées par leur indice (variant de 1 au nombre de variables)
c le caractère 0 indique la fin de la clause
c la négation est indiquée par le "-"
c 
p cnf 5 4
1 -3 0
2 3 -1 0
2 5 -1 0
2 4 3 1 -1 -5 0